
.do {
    width: 50%;
    height: 95%;
    // background: url(../../public/paper.jpg);
    background: url(../../public/bg2.jpg);
    
    background-size: contain;
    background-repeat: repeat;
    margin: auto 0;
    // background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94, 104, 121, .288);
}